/* ↓創造一個選取器↓ 意思為只要遇到叫做col-的class都做box-sizing、padding的屬性*/
/* [class*="col-"]{ box-sizing: border-box; padding: 0 10px;} */
/* 給最外面父層的值 */
/* .col-1{width: 8.333333%;} */
/* .col-2{width: 16.666666%;} */
.col-3{width: 25%;}
/* .col-4{width: 33.333333%;} */
/* .col-5{width: 41.666666%;} */
/* .col-6{width: 50%;} */
/* .col-7{width: 58.333333%;} */
/* .col-8{width: 66.666666%;} */
.col-9{width: 75%;}
/* .col-10{width: 83.333333%;} */
/* .col-11{width: 91.666666%;} */
/* .col-12{width: 100%;} */

/* ↓768px~1024之間觸發↓ */
@media (width <= 768px){
/*-------------mb-index-header-------------*/
    .navbar{
        display: none;
    }
    .index-title{
        width: 70%;
        transform: translate(-67%,-20%)
    }
    .index-title h1.PC{
        display: none;
    }
    .index-title h1.mb{
        color: #666;
        display: block;
        font-size: 30px;
        line-height: 40px;
    }
    .menu_btn {
        display: block;
    }
    /*-------------mb-header-------------*/
    .title{
        transform: translate(-48%,50%)
    }
    .title h1{
        font-size: 30px;
    }
    .top-header{
        width: 100%;
        display: flex;
    }
    .navbar{
        display: none;
    }
    .banner{
        height: 200px;
        background-size: cover;
        background-position: center;
    }

/*-------------------mb-漢堡---------------------*/

.switch_out { /* 側邊欄展開的寬度及快慢秒數 */
    width: 80%;
    transition: width var(--collapse_time);
}
/*-------------mb-index-shop-section-------------*/
    .shop_section h2{
        font-size: 22px;
        margin-block: 10px;
    }
    .category{
        margin: auto;
        /* max-width: 768px; */
        grid-template-columns: repeat(2,1fr);
    }
/*-------------mb-index-new_arrival-------------*/
    .new_arrival h2{
        font-size: 22px;
        margin-block: 10px;
    }
    .new-products{
        margin: auto;
        /* max-width: 768px; */
        grid-template-columns: repeat(2,1fr);
    }
    .new-prod{
        width: 70%;
    }
    /* .new-prod img{
        padding-bottom: 4px;
    } */
    .new-prod p{
        margin-top: 0px;
        font-size: 16px;
        line-height: 22px;
    }
    .view_all_1{
        bottom: -30px;
        border: 1px solid #000;
        background-color: #EEE5DA;
    }
    .view_all_2{
        bottom: 10px;
        right: 0;
        border: 1px solid #000;
        background-color: #EEE5DA;
    }
/*-------------mb-index-news-------------*/
    .news h2{
        font-size: 22px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .article{
        margin: auto;
        padding-inline: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .card_title{
        font-size: 18px;
        font-weight: 600;
        padding-block: 5px;
    }
    .card_info{
        font-size: 14px;
        text-align: start;
        margin: 5px 0 10px 0;
        padding-left: 18px;
    }
    .card_footer a{
        text-decoration-color: #222;
    }

/*-------------mb-footer-------------*/
    footer{
        width: 100%;
    }
    .f_container{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .f_middle{
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .footer_navbar{
        width: 100%;
        margin: auto;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        column-gap: 10px;
    }
    .footer_navbar a{
        font-size: 14px;
    }
    .store_info{
        width: 100%;
        margin: auto;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .account_link{
        right: 90px;
        bottom: -38px;
    }
    .account_link i{
        font-size: 26px;
    }
    .f_text{
        display: none;
    }
    .logo_media{
        width: 50%;
    }
    .copyright{
        font-size: 12px;
    }
    .copyright p{
        margin-top: 5px;
        border-top: 1px solid #000;
    }

/*-------------mb-關於我們-------------*/
    .about_body{
        display: flex;
        flex-direction: column;
    }
    .about_text{
        order: 1;
    }
    .about_text h3{
        width: 100%;
        padding: 30px 0;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }
    .about_text p{
        width: 100%;
        padding-inline: 15px;
        font-size: 16px;
        text-align: start;
    }
    .about_pic{
        width: 95%;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
        order: 2;
    }
    .about_address{
        order: 3;
    }
    .about_address p{
        font-size: 16px;
        padding-top: 40px;
        padding-left: 10px;
        /* line-height: 30px; */
        letter-spacing: 0px;
    }
    .about_map{
        order: 4;
        width: 95%;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    }
/*-------------mb-最新消息-------------*/
    .news_container{
        display: flex;
        flex-direction: column;
    }
    .top{
        display: flex; 
        flex-direction: column;
    }
    .news_pic{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .rside{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-left: 2px solid #000;
        position: relative;
    }
    .rside h3{
        font-size: 20px;
    }
    .rside_title{
        /* display: none; */
        width: 100%;
        height: 100%;
        line-height: 20px;
        border-bottom: 2px solid #000;
    }
    .rside_text{
        display: block;
        border-bottom: none;
        overflow: hidden;
    }
    .rside_text p{
        font-size: 14px;
        line-height: 26px;
    }
    .rside_read_more{
        width: 33%;
        display: flex;
        font-size: 18px;
        position: absolute;
        top: 0;
        right: -8px;
        ::after{
            content: '→';
        }
    }
    .rside_read_more a{
        text-decoration-color: #222;
    }
    .under{
        display: flex;
        flex-direction: column;
    }
    .other_article{
        height: auto;
        padding: 10px 0;
    }
/*-------------mb-聯絡我們-------------*/
    .contact_body{
        width: 100%;
    }
    .contact_input_group{
        width: 80%;
    }

/*-------------mb-全部商品--------------- */
    .shops_body{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2.mb-prod-category{
        font-size: 30px;
        padding-left: 14px;
        margin-bottom: 10px;
    }

    .triangle {
        border-color: #666 #fff #fff;
        border-style: solid;
        border-width: 8px;
        position: absolute;
        top: 47px;
        transition: transform 0.3s ease-out;
    }
    .triangle-up {
        border-color: #fff #fff #666;
        border-style: solid;
        border-width: 8px;
        position:absolute;
        top:38px;
        transition: transform 0.3s ease-in;
    }

    .category_1 {
        /* display: none; */
        max-height: 0;
        overflow: hidden;
        transform: max-height 0.3s ease-out;
    }
    .show-category {
        margin: auto;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
        max-height: 280px; 
        overflow: visible;
        transition: max-height 0.3s ease-in;
    }
    .shops{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .shops h3{
        font-size: 30px;
        padding: 10px 14px;
    }
    .shops p.selection-info{
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
        width: 97%;
    }
    .shops_pic{
        width: 80%;
    }
    p.shops-card-text{
        font-size: 16px;
    }
/*-------------mb-商品內頁--------------- */
    .prodinfo_container{
        display: flex;
        flex-direction: column;
    }
    .prodinfo{
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .prod-pic-big{
        flex: 1;
        order: 2;
        margin: 3px;
        height: 100%;
    }

    .prod-under_pic{
        order: 1;
        width: 20%;
        margin: 0 3px 0 3px;
        display: flex;
        flex-direction: column;
        border: 1px solid #666;
    }
    .prod-pic-small{
        height: 101px;
    }
    .prod-pic-small:nth-child(n + 2){
        border-left: none;
    }
    .prod-pic-small:nth-child(n + 2){
        border-top: 1px solid #666;
    }
    .information{
        gap: 10px;
    }
    .information h1{
        font-size: 30px;
    }
    .information p{
        display: none;
    }
    .information span::before{
        content: "建議售價";
        color: #000;
        font-size: 16px;
        padding-inline: 5px;
    }
    .information p.info{
        order: 2;
        display: block;
        width: 100%;
        font-size: 14px;
    }
    .join {
        order: 4;
    }
    input.btnMinus, input.btnPlus{
        width: 40%;
        color: #666;
        background-color: #EEE5DA;
    }
    .information button.join-cart{
        order: 5;
        width: 100%;
        color: #666;
        background-color: #EEE5DA;
    }

    .maybeLike h2{
        font-size: 30px;
    }
    .other-shop{
        gap: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .other-card{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pic{
        width: 95%;
    }
    .other-card-prod-p{
        width: 100%;
        padding: 3px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .other-card p{
        font-size: 11px;
    }
    p.prod-info_price{
        font-size: 13px;
        margin-bottom: 10px;
        /* display: none; */
    }
/*-------------mb-購物車--------------- */
    .cart_container{
        display: flex;
        flex-wrap: wrap;
    }
    .col-9{
        width: 95%;
        margin: 0 auto;
    }
    .cart-prod{
        padding: 0 3px;
    }
    .cart-item{
        gap: 0px;
        margin: 10px 0;
    }
    .detail-text h2{
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .detail-text span{
        font-size: 14px;
    }
    .cart-btn input, .cart-btn input.qty{
        font-size: 18px;
    }
    .col-3{
        width:100%
    }
    .col-3 h3{
        width: 95%;
        margin: 0 auto;
        font-size: 20px;
    }
    .checkout-info{
        width: 95%;
        margin: 0 auto;
    }
    .toPay-icons{
        width: 95%;
        margin: 0 auto;
    }
    .toPay{
        width: 95%;
        margin: 0 auto;
    }
    .toPay img{
        width: 10%; 
        top: 17px;
    }
/*-------------mb-登入、註冊------------- */
    .login_container, .register_container{
        width: 80%;
    }
}