/* ↓創造一個選取器↓ 意思為只要遇到叫做col-的class都做box-sizing、padding的屬性*/
[class*="col-"]{ box-sizing: border-box; padding: 0 10px;}
/* 給最外面父層的值 */
.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}
.col-5{width: 41.666666%;}
.col-6{width: 50%;}
.col-7{width: 58.333333%;}
.col-8{width: 66.666666%;}
.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;}

/* ↓768px~1024之間觸發↓ */
@media (width <= 768px){
/*-------------mb-header-------------*/
    div.top-header{
        width: 100%;
        display: flex;
    }
    div.navbar{
        display: none;
    }
    div.hb{
        display: flex;
        margin-block:9px 0;
        padding: 8px;
        gap: 3px;
        width: 12%;
        align-items: center;
        flex-direction: column;
    }
    div.hb p{
        width: 100%;
        margin: 1px 0;
        padding: 3px 0;
        border-radius: 5px;
        background-color: #699;
    }
    div.banner{
        height: 200px;
        background-size: cover;
        background-position: center;
    }
    div.index-banner_text.index-title{
        /* display: none; */
        top: 0;
        left: 0;
    }
/*-------------mb-footer-------------*/
    footer{
        width: 100%;
    }
    .f_container{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .f_middle{
        gap: 10px;
        display: flex;
        flex-direction: column;
        /* justify-content: normal; */
    }
    .footer_navbar{
        width: 100%;
        margin: auto;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        column-gap: 10px;
    }
    .footer_navbar a{
        font-size: 14px;
    }
    .store_info{
        width: 100%;
        margin: auto;
        padding: 0 10px;
        font-size: 14px;
        /* border-bottom: 1px solid #000; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .account_link{
        right: 105px;
        bottom: -38px;
    }
    .account_link i{
        font-size: 26px;
    }
    .f_text{
        display: none;
    }
    .f_logo{
        width: 40%;
        height: 5%;
    }
    .copyright{
        font-size: 12px;
    }
    .copyright p{
        margin-top: 5px;
        border-top: 1px solid #000;
    }
/*-------------登入、註冊------------- */
    div.login_container, div.register_container{
        width: 80%;
    }
}
/* ↓1024px~1200px之間觸發↓ */
/* @media (min-width:1024px){} */

/* ↓1200px~1440px之間觸發↓ */
/* @media (min-width:1200px){} */

/* ↓1440px以上觸發↓ */
/* @media (min-width:1440px){} */
