*{box-sizing: border-box;}
/* index首頁CSS */
.index-container{
    height: 100%;
    display: flex;
}
/* index-header */
header{
    background-image: url(../imgs/index_header_bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 43.8vw;
}
.index-top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(217,217,217,50%);
}
.index-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 50px; */
}
.index-navbar nav ul{
    display: flex;
    list-style: none;
}
.items a{
    padding: 16px;
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    text-decoration: none;
    font-family: "DFFangSongW6-B5";
}
.index-logo{
    width: 200px;
}
.index-logo img{
    width: 100%;
}
i{
    font-size: 22px;
    padding: 10px;
    color: #000;
}
#searchbar{
    background-color: rgba(217,217,217,50%);
    border-radius: 30px;
    font-family: "DFFangSongW6-B5";
    height: 20px;
}
.index-banner .title p.CHT{
    display: block;
    font-size: 40px;
    margin-top: 200px;
    margin-left: 170px;
    font-family: "DFFangSongW6-B5";
}   
/* index-shop-section */
.shop_section h2{
    margin-top: 62px;
    margin-bottom: 62px;
    font-size: 40px;
    text-align: center;
    font-family: "DFFangSongW6-B5";
}
.category{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    gap: 20px;
    margin: 240px 240px;
}
.category_pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_pic img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.category a img{
    width: 345px;
    height: 300px;
    align-items: center;
}
.category a:hover{
    transform: scale(1.1);
    transition:all 0.5s ease 0s;
}
/* index-new_arrival */
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    justify-items: center;
    margin-inline: 240px;
    position: relative;
}
.prod{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 314px;
    height: 519px;
}
.prod img{
    width: 100%;
    /* margin: auto; */
}
/* index-news */
.new_arrival h2{
    margin-top: 90px;
    margin-bottom: 90px;
    font-size: 40px;
    text-align: center;
    font-family: "DFFangSongW6-B5";
}
.news{
    /* border: 1px solid #000; */
    position: relative;
}
.news h2{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 40px;
    text-align: center;
    font-family: "DFFangSongW6-B5";
}
.article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-left: 240px;
    margin-right: 240px;
    gap: 20px;
}
.card{
    width: 400px;
    height: 400px;
    font-family: 'Noto Sans TC', sans-serif;
}
.card_title{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card_info{
    font-size: 16px;
    text-align: center;
    margin-block: 10px;
}
.card_footer{
    display: flex;
    justify-content: space-between;
}
.card a{
    color: #000;
    text-decoration: none;
}
.card img {
    width: 100%;
    height: 271px;
    vertical-align: top;
}
.view_all{
    font-size: 20px;
    letter-spacing: 5px;
    color: #000;
    text-decoration: none;
    position: absolute;
    bottom:0; right:0;
}
/* index-footer */
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #EEE5DA;
}
.f_container{
    margin: 0;
    padding: 0;
    position: relative;
}
.footer_navbar{
    margin: auto;
    position: relative;
    padding-block: 30px;
}
.footer_navbar nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.footer_navbar nav ul a{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
    text-decoration: none;
}
.f_middle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.store_info{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 30px;
    text-align: center;
}
.account_link{
    position: absolute;
    left: 350px;
    bottom: -15px;
}
.f_logo{
    display: block;
    width: 224px;
    height: 160px;
}
.f_logo img{
    display: block;
    width: 100%;
}
.f_text{
    display: block;
}
.f_text p{
    font-size: 18px;
    padding-bottom: 12px;
    font-family: 'Noto Sans TC', sans-serif;
}
.input_group{
    position: relative;
}
.input_group input{
    border-radius: 10px;
    background-color: #eee;
}
.input_group a i{
    font-size: 12px;
    position: absolute;
    left: 154px;
    bottom: -6px;
}
.copyright{
    display: block;
    height: 100%;
    padding-top: 20px;
}
.copyright p{
    padding: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}
/* 關於我們 CSS */
.container{
    height: 100%;
}
div.about_us{
    background-image: url(../imgs/about\,news\,shop_bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 25.8vw;
}
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(217,217,217,50%);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 50px; */
}
.navbar nav ul{
    display: flex;
    list-style: none;
}
.items a{
    padding: 16px;
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    text-decoration: none;
    font-family: "DFFangSongW6-B5";
}
.logo{
    width: 200px;
}
.logo img{
    width: 100%;
}
i{
    font-size: 22px;
    padding: 10px;
    color: #000;
}
p.CHT{
    display: block;
    font-size: 40px;
    margin-top: 130px;
    margin-left: 260px;
    font-family: "DFFangSongW6-B5";
}
/* 關於我們 body */
div.about_body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 180px;
    margin-left: 240px;
    margin-right: 240px;
    padding-block: 180px;
}
div.about_pic{
    width: 588px;
    height: 330px;
}
div.about_pic img{
    width: 100%;
}
div.about_text{
    width: 588px;
    height: 276px;
    display: block;
    font-family: 'Noto Sans TC', sans-serif;
}
div.about_text h3{
    width: 467px;
    height: 96px;
    font-size: 30px;
}
div.about_text p{
    width: 588px;
    height: 180px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
}
div.about_address p{
    width: 588px;
    height: 330px;
    font-size: 20px;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 84px;
    letter-spacing: 2px;
}
div.about_map{
    width: 100%;
    height: 0;
    padding-bottom: 56.12%;
    position: relative;
}
div.about_map iframe{
    width: 100%;
    height: 100%;
    position: absolute;
}
/* 最新消息 CSS */
.news_body{
    max-width: 1920px;
}
.news_container{
    padding: 20px;
    max-width: 1440px;
}
.top{
    width: 100%;
    display: flex;
    margin-left: 240px;
    align-items: center;
}
.news_pic{
    width: 830px;
    height: 540px;
    /* margin-right: 225px; */
    border: 1px solid #000;
}
.news_pic img{
    width: 100%;
    height: 100%;
    padding: 50px;
}
div.rside{ 
    width: 570px;
    display: flex;
    flex-direction: column;
    /* margin-right:240px; */
    font-family: 'Noto Sans TC', sans-serif;
}
div.rside h3{
    font-size: 30px;
    font-weight: bold;
}
div.rside_title{
    height: 180px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid #000;
}
div.rside_text{
    height: 220px;
    line-height: 28px;
    padding: 10px;
    border: 1px solid #000;
}
div.rside_read_more{
    height: 140px;
    font-size: 40px;
    line-height: 50px;
    padding: 10px;
    border: 1px solid #000;
}
div.rside_read_more a:link{
    color: #000;
    text-decoration: none;
}
div.rside_read_more a:visited{
    background-color: #f00;
}
div.rside_read_more a:hover{
    text-decoration: underline; 
}
.under{
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    margin-left: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.other_article{
    border: 1px solid #000;
}
.other_article_pic{
    display: block;
    width: 400px;
    height: 277px;
}
.other_article_pic img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.arti_date{
    padding: 5px;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
}
.arti_title{
    padding: 5px;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}
.other_article:hover{
    background-color: #EEE5DA;
}
/* 聯絡我們 CSS */
div.contact_body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    max-width: 1440px;
    height: 100%;
    margin: 100px 240px;
}
div.contact_body input{
    padding: 5px 15px;
    background-color: #ddd;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
div.left h2{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 5px;
    padding: 10px;
}
.left{
    width: 467px;
    display: block;
    padding: 10px;
    line-height: 40px;
}
.right{
    width: 467px;
    display: block;
    padding: 10px;
    line-height: 30px;
}
div.left input{
    width: 100%;
    height: 40px;
}
div.right div.input_text textarea{
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    width: 100%;
    background-color: #ddd;
}
div.input_submit input{
    width: 90%;
    height: 30px;
    cursor: pointer;
    margin: 10px 20px 0 0;  
}